{
  "name": "my-v0-project",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "build": "next build",
    "dev": "next dev",
    "dev-https": "node server-https.js",
    "dev-tunnel": "npx localtunnel --port 3000",
    "lint": "next lint",
    "start": "next start",
    "start-https": "next start --experimental-https --experimental-https-key ./localhost-key.pem --experimental-https-cert ./localhost.pem"
  }
